*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container{
  max-width: 100vw;
  min-height: 100vh;
  background-color:rgb(252, 245, 235);
  
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
}



.navbar img:nth-child(1){
  width:130px;
  height: 30px;
}


.nav-items{
  display: flex;
  gap: 25px;
  font-size: 16px;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  opacity: 0.8;
}

.nav-items >p{
  cursor: pointer;
}

.nav-items >p::after{
  position: absolute;
  content: "";
  width: 85%;
  height: 3px;
  background-color:#25d466;
  bottom: 0;
  left: 5%;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  transform-origin: left;
}

.nav-items:hover::after{
  transform: scaleX(1);
}

.rightnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.rightnav > button:nth-child(1){
  display: flex;
}

.rightnav > button:nth-child(2) {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.leftnav{
  display: flex;
  gap:2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: relative;
}


.leftnav::after{
  position: absolute;
  content: "";
  width: 85%;
  height: 3px;
  background-color:#25d466;
  bottom: 0;
  left: 5%;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  transform-origin: left;

}

.leftnav:hover::after{
  transform: scaleX(1);
}
/* 
.slide{
  position: relative;
  
} */


.slide{
  display: flex;
  gap:2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: relative;
}

.slide::after{
  position: absolute;
  content: "";
  width: 85%;
  height: 3px;
  background-color:#25d466;
  bottom: 0;
  left: 5%;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  transform-origin: left;
 
}


.slide:hover::after{
  transform: scaleX(1);

}

.leftnav > img{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 2px;
  
}

.navbar > button{
  display: flex;
 
}

.button1{
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  width: 135px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius:#2b343b; 
   border: none;
  border: 1px solid black;
}

.button1 > p{
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: none;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.button1 > img{
  padding: 10px;
  transform: rotate(180deg);
}

.button2 {
  display: flex;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  padding-right: 15px;
  /* padding-left: 5px; */
  border-radius: 30px;
  width: 155px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #25d466;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}


.button2::before{
  display: none;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* scale: 1.3 ; */
    z-index: -1;    
    position: absolute;
    content: "";
    opacity: 1;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s 0.5s;
    transform: translatex(-150px) translateY(60px);
}


.fourthSection{

 width: 100%;
 height: 100%;
 color: #25d466;
 background-color: black;

}

.button2:hover::before{
    margin-right: 30px;
    transform: translatex(-150px) translateY(-20px);
    opacity: 1;
}

.button2:hover{
  cursor: pointer;
  background-color: white;
  
}

.button2 >img:hover{
  color: white;
}

button > img{

    width: 19px;
    height: 13px;
    margin-top: 2px;
    align-items: center;
}



.button2 >p{
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  font-family:"Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: none;
  
}

.firstsection{
   
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 20px 40px;
}

.firstsection > p {
    font-size: 13px;
    text-align: end;
    opacity: 0.7;
    padding-top: 8px;
    width: 100%;
    height: 30%;
}

.reality {
    display: flex;
    background-image: url(images/MaaBeti.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    overflow: hidden;
}

.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.leftMsg{
 
  color: #ffffff;

}

.leftMsg > h1 {
    margin-bottom: 15px;
    overflow-y: hidden;
    line-height: 90px;
    letter-spacing: -3px;
    font-size: 77px;
    font-weight: 300;
}

.rightnav {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 17px;
}

.right{
    margin-top: 9%;
    position: relative;
    width: 500px;
    height: 100%;
}

.right img:nth-child(1) {
    width: 450px;
    animation: gm 0.5s ease-in-out;
}

@keyframes gm {
    0%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

.right img:nth-child(2) {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 450px;
    animation: dil 1s ease-in-out;
}


@keyframes dil {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

.right img:nth-child(3) {
    margin-left: 20px;
    width: 420px;
    animation: chai 1.8s ease-in-out;
}


@keyframes chai {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }

    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.right img:nth-child(4) {
    width: 450px;
    animation: voice 2.1s ease-in-out;
}


@keyframes voice {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
    

.right img:nth-child(5) {
    width: 450px;
    animation: emo 3.1s ease-in-out;
}

@keyframes emo {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.right img:nth-child(6) {
    position: absolute;
    top: 470px;
    right: 17px;
    width: 450px;
    animation: emotionalEmoji 3.4s ease-in-out;
}


@keyframes emotionalEmoji {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.right img:nth-child(7) {
    padding-top: 30px;
    width: 450px;
    animation: trip 4s ease-in-out;
}


@keyframes trip {
    0%{
        opacity: 0;
        transform: translateY(70px);
    }

    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.secondSection{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.secondSection > img{

  width: 80%;
}

.secondSection > p{

  overflow: hidden;
  text-align: center;
  font-size: 2.8em;
  letter-spacing: -1px;
  font-weight: 500;
  line-height: 50px;
  align-items: center;
}

.thirdSection{

  overflow: hidden;
}

.birthday{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 80px;
 gap: 200px;
 overflow: hidden;

}

.leftPart p:nth-child(1){

  font-size: 3.8em;
  line-height: 59px;
  overflow: hidden;

}


.leftPart p:nth-child(2){
  line-height: 23px;
  padding-top: 20px;

}


.LearnMore{
   
  position: relative;

}

.LearnMore > span{

  display: inline-block;
  padding-top: 40px;
  font-size: 16px;

}

.LearnMore::before{
    position: absolute;
    content: "";
    width: 23%;
    bottom: 0%;
    height: 3px;
    background-color: #25d366;
}

.LearnMore > img{
    margin-left: 10px;
    rotate: 180deg;
}

.birthdayy{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 31px;

}

.switch{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 35px;

}

.switch > button {
    width: 65%;
    height: 51px;
    background-color: #25d366;
    border-radius: 31px;
    overflow: hidden;
    font-size: 17px;
}

.button > img{
  
  width: 20px;
  height: 20px;
  align-items: center;

}

.beach, .groupchat{

  position: relative;

}

.beach img:nth-child(2){

  width: 340px;
  top: 28%;
  right: -2%;
  position: absolute;

}

.groupchat img:nth-child(2){
  
  width: 340px;
  top: 21%;
  right: -10%;
  position: absolute;
   

}

.bgChange{
  padding: 60px;
  background-color: #111b21;
}

.textcolor{
 
  color: white;

}

.textcolor > h2:nth-child(1){
 
  font-size: 3.8em;
  line-height: 59px;
  overflow: hidden;
  font-weight: 500;
}

.textcolor > h2:nth-child(2){

  color: #25d366;
  font-size: 3.8em;
  line-height: 59px;
  overflow: hidden;
  font-weight: 500;
}

.textcolor p{
  line-height: 23px;
  padding-top: 20px;

}

.color > img {
  transform: rotate(180deg);
  color: white;
  align-items: center;
  width: 30px;
  height: 15px;
  margin: 0;
}

.arrow > img{

   transform: rotate(180deg);
   align-items: center;
}

.footer{
 
  height: 507px;
  background-color: #111b21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 100px;

}

.upper{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 50px;
}

.up1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.up2,.up3,.up4,.up5{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

ul > li {
    overflow: hidden;
    margin-bottom: 17px;
  
}

.up2 > p,.up3 > p,.up4 > p,.up5 > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.8;
}

ul > li {
    overflow: hidden;
    margin-bottom: 17px;
}
ul {
    
    overflow: hidden;
}
li {
    font-size: 17px;
    
}

li:hover{

  text-decoration: underline white;
}
hr{
 /* color: white; */
 width: 60%;
}

.lower{
    position: relative;
    margin-top: 10px;
    padding-bottom: 30px;
    width: 61%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower >p{

  font-size: 15px;
}

.social {
    overflow: hidden; 
    position: relative; 
    height: 60%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.social > i{
    position: relative; 
    scale: 1.2;
    border: 1px solid white;
    padding: 15px;   
   border-radius: 50%;
   z-index: 3;
    
}

.socialMedia:hover{
    transition: 0.2s 0.3s;
    color: #111b21;
    background-color: #25d366;
    border-color: #111b2100;
}

.social> i:nth-child(4) {
    text-align: center;
    width: 50px;
}


select {
    -webkit-appearance: none;
    border-radius: 30px;
    color: white;
    background-color: #111b21;
    border: 1px solid white;
    padding: 20px 90px 20px 30px;
}

.angle{
    right: 20px;
    position: absolute;
    transform: rotate(360deg);
}

.navbar2{
    display: none;
}

.media{
    display: none;
}
